<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>398161299358-q0g0ahuavpkj64fs3526rnm2v3513qb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398161299358-q0g0ahuavpkj64fs3526rnm2v3513qb2</string>
	<key>API_KEY</key>
	<string>AIzaSyDTQ_A22tboPEVvBaI2EgHH2W15eFEy6uk</string>
	<key>GCM_SENDER_ID</key>
	<string>398161299358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faizan.SnapChat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-4e551</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-4e551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398161299358:ios:724030791b18e55d</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-4e551.firebaseio.com</string>
</dict>
</plist>